[Unit]
After=network.target

[Service]
User=root
Group=root
Restart=on-failure
RestartSec=30s
Type=simple
ExecStart=/usr/bin/deb-builder run --config=/etc/deb-builder/config.yaml
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=default.target

